<!DOCTYPE html>
<html>
    <head>
        <title>3cailloux! JavaScript powered game</title>

        <link rel="stylesheet" type="text/css" href="css/main.css" />

        <script id="gamesListTemplate" type="text/x-jquery-tmpl">
<h1>Join a game</h1>
{{if games.length == 0}}
<p>No game is currently waiting for opponent. Create one!</p>
{{else}}
<ul>
    {{each(i,game) games}}
    <li>
        ${ game.player }
        <a href="#" class="join-game" id="game-${game.id}">Fight him!</a>
    </li>
    {{/each}}
</ul>
{{/if}}
        </script>

        <script id="gamesListStatsTemplate" type="text/x-jquery-tmpl">
<button id="create-game">Create a Game!</button>
<h1>Statistics</h1>
<p>...</p>
        </script>


        <script id="gameWaitingTemplate" type="text/x-jquery-tmpl">
<h1>Waiting for an opponent...</h1>
        </script>

        <script id="gameWaitingStatsTemplate" type="text/x-jquery-tmpl">
<button id="quit">Quit</button>
        </script>


        <script id="gamePlayingTemplate" type="text/x-jquery-tmpl">
<div id="ingame">
    <h1>Choose the number of peebel in your hand</h1>
    <p class="play-order">You play {{if game.playFirst}}first{{else}}second{{/if}}.</p>
    {{each(i,number) game.numbers}}
    <button>${i}</button>
    {{/each}}
</div>
        </script>

        <script id="gamePlayingStatsTemplate" type="text/x-jquery-tmpl">
<h1>Scores</h1>

{{each(i,player) game.players}}
    <p>${player.login}: ${player.score}</p>
{{/each}}
<button id="quit">Quit</button>
        </script>

    </head>

    <body>

        <header>
            <h1>3Cailloux</h1>
            <h2>Multiplayer Web Game</h2>
        </header>

        <div id="stats">
            <p>
                You are <span id="whoami">not connected</span>.
            </p>
            <p>
                Ingame: <span id="ingame-number">0</span>
            </p>
            <p>
                Awaiting: <span id="awaiting-number">0</span>
            </p>
        </div>

        <div id="content">
            <img src="images/loader.gif" id="loader" alt="Loading..." />
            <p id="loading-state">Loading configuration...</p>
        </div>

        <footer>
            <p>
                An HTML5 Game by <a href="http://adrian.gaudebert.fr">Adrian Gaudebert</a> -
                <a href="https://github.com/AdrianGaudebert/3cailloux">Browse the sources on github</a> -
                <a href="http://adrian.gaudebert.fr/contact">Contact</a>
            </p>
        </footer>

        <ul id="log"></ul>

        <script src="js/libs/jquery.min.js"></script>
        <script src="js/libs/jquery.timers.js"></script>
        <script src="js/libs/jquery.tmpl.js"></script>
        <script src="js/libs/json2.js"></script>
        <script src="js/core/config.js"></script>
        <script src="js/core/displayer.js"></script>
        <script src="js/core/events.js"></script>
        <script src="js/core/message-parser.js"></script>
        <script src="js/core/socket.js"></script>
        <script src="js/core/engine.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>
