<!DOCTYPE html>
<html>
    <head>
        <title>3cailloux! JavaScript powered game</title>

        <link rel="stylesheet" type="text/css" href="../css/main.css" />

    </head>

    <body>

        <header>
            <h1>3Cailloux</h1>
            <h2>Multiplayer Web Game</h2>
        </header>

        <div id="stats">
            <p>
                You are <span id="whoami">not connected</span>.
            </p>
            <p>
                Ingame: <span id="ingame-number">0</span>
            </p>
            <p>
                Awaiting: <span id="awaiting-number">0</span>
            </p>
        </div>

        <div id="content">
            <div id="ingame">
                <h1>Choose the number of peebel in your hand</h1>
                <p>You play first.</p>
                <button>0</button>
                <button>1</button>
                <button>2</button>
                <button disabled>3</button>
            </div>
        </div>

        <footer>
            <p>
                An HTML5 Game by <a href="http://adrian.gaudebert.fr">Adrian Gaudebert</a> -
                <a href="https://github.com/AdrianGaudebert/3cailloux">Browse the sources on github</a> -
                <a href="http://adrian.gaudebert.fr/contact">Contact</a>
            </p>
        </footer>

    </body>
</html>
